$highlight-color: #C2a0bc;
$highlight-color-deep: rgb(145,80,137);
$header-color: #000;
$header-color-text: #fff;
$header-font: 'Arima Madurai'
$body-font: Athiti;

body {
  font-family: $body-font;
}

header {
  font-family: $header-font;
  color: $highlight-color-deep;
}

h2, h3, h4, h5 {
  font-family: $body-font;
  font-weight:bold;
}

.site-header {
  background-color: $header-color;
  font-family: 'Arima Madurai';
  .site-title, .site-title:visited  {
    color:$header-color-text;
  }
}

.hero {
img {  background-color:$header-color; }
  display:flex;
  align-items: center;
  justify-content: center;
}

.homepagenav {
  background-color: $highlight-color-deep;
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:3em;
  .page-link {
    color:#fff;
    font-family: $header-font;
    text-shadow:-1px -2px 1px rgba(0,0,0,0.9);
  }
}

.page-with-image {
  .image-block {
 display:flex;
 flex-direction: row;
}
 .featured-image, .content {
   display:flex;
   flex-grow:1;
   align-items:center;
   flex-direction:column;
   justify-content: flex-start;
   max-width:50%;
 }
 .featured-image {
   margin:0.7em 1em 0.7em 0;
   max-width: 50%;
//   background-color: lighten($highlight-color,20%);
 }
}

.site-nav .page-link {
  color:$header-color-text;
  @media screen and (max-width: 600px) {
    color:$highlight-color-deep;

  }
}

.price-list {
  h2, h2 + ul {
  background-color: $highlight-color;
  list-style-type:none;
  padding:0;
  display:flex;
  width:100%;
  justify-content: flex-start;
  margin: 0.5em 0.5em 0 0.5em;
  box-sizing: border-box;
  padding-left:0.7em;
  }
  h2 + ul {
    flex-direction:column;
    padding: 0em 1em 1em 1em;
    margin: 0em 0.5em 0.5em 0.5em;
  }
}

.shadowed-image .featured-image img {
  box-shadow: -22px 22px 0px $highlight-color;
}

.post-header {margin-bottom:0;}

.image-gallery {
  display:flex;
  .featured-image {
    flex-grow:1;
    margin:0.5em;
    background-color:rgb(189,178,163);
    h2 {
      background-color: $highlight-color;
      padding:0.5em;
      text-align: center;
      font-size:1.8em;
      font-family: $header-font;
      font-weight:bold;
      a {
        color:#fff;
      }
    }
  }
}
