---
layout: default
---

{% comment %}
This page will automatically display content for all pages that
have the layout "gallery" in the top of the page.

{% endcomment %}

{% capture title %}
  {% if page.title %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  {% endif %}
{% endcapture %}

<article class={{classes}}>
  {{ title }}
    <div class="image-gallery">
      {% for val in page.gallery %}
      {% assign item = val[1] %}
      <div class="featured-image">
        <h2>
          <a href="{{item.link-url}}">
            {{ item.title }}
            </a>
        </h2>
        <a href="{{item.link-url}}">
          <img src="{{item.image-url}}" />
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="content">
      {{ content }}
    </div>
</article>
